.NoDecoration{
    text-decoration: none;
}
.center{
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
}
.navbarcontainer {
    display: flex;
    justify-content: space-around;
    padding: 1rem 2rem;
    background-color: #0070f3;
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 1rem auto;
    max-width: 1200px;
  }
  
  .navitem {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }
  
  .navitem:hover {
    background-color: #005bb5;
  }
  .postlist {
    padding: 2rem;
  }
  .postcontainer {
    background-color: white;
    padding: 1rem 1.5rem;
    margin: 1rem auto;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform 0.3s;
  }
  
  .posttitle {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 0.5rem;
  }
  
  .postexcerpt {
    color: #666;
  }
  
  .readmorebutton {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background: #0070f3;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .readmorebutton:hover {
    background: #005bb5;
  }
  